:root {
  --verde-musgo: #7E8C54;
  --grafito: #1C1C1C;
  --blanco-hueso: #F6F5F2;
}

body {
  background-color: var(--blanco-hueso);
  color: var(--grafito);
  font-family: 'Segoe UI', sans-serif;
  padding: 2rem;
}

h1 {
  color: var(--grafito);
}

input, button {
  padding: 10px;
  margin: 5px;
  border: 1px solid #ccc;
  border-radius: 6px;
  font-size: 1rem;
}

input:focus {
  outline: 2px solid var(--verde-musgo);
}

button {
  background-color: var(--verde-musgo);
  color: white;
  border: none;
  cursor: pointer;
  font-weight: 600;
  transition: background-color 0.2s ease-in-out;
}

button:hover {
  background-color: #6e7b47;
}

table {
  width: 100%;
  border-collapse: collapse;
  background-color: white;
  border-radius: 6px;
  overflow: hidden;
  margin-top: 20px;
}

th, td {
  border-bottom: 1px solid #ddd;
  padding: 10px;
  text-align: left;
}

#btn-enviar {
  margin-top: 20px;
  width: 100%;
}
