body {
  font-family: sans-serif;
  margin: 20px;
  background-color: #f9f9f9;
}

label {
  display: block;
  margin-top: 10px;
}

input {
  width: 300px;
  padding: 6px;
  margin-top: 4px;
}

button {
  margin-top: 20px;
  padding: 10px;
  background-color: #7E8C54;
  color: white;
  border: none;
  border-radius: 6px;
  cursor: pointer;
}
